AI_BUSINESS_ANALYST_SCRATCH_DATA_DIR=./data/tmp
AI_BUSINESS_ANALYST_MAX_CSV_UPLOAD_SIZE_MB=50
AI_BUSINESS_ANALYST_DEFAULT_QUERY_TIMEOUT_SECONDS=30
AI_BUSINESS_ANALYST_SCHEMA_CACHE_TTL_SECONDS=600
AI_BUSINESS_ANALYST_SCHEMA_ROW_COUNT_SAMPLE_LIMIT=1000
AI_BUSINESS_ANALYST_OLLAMA_BASE_URL=http://localhost:11434
AI_BUSINESS_ANALYST_OLLAMA_MODEL=llama3.2:3b
AI_BUSINESS_ANALYST_OLLAMA_TIMEOUT_SECONDS=120
